.div__logo {
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
}

.tittle {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #4fde0c;
    text-shadow: 0.2mm 0.2mm rgb(32, 54, 42);
    text-align: center;
}
