.div__register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 30%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
.form__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    padding: 20px;
}
